.popup__container {
    margin: auto;
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #000000;
}

@media screen and (max-width: 653px) {
    .popup__container {
        width: 282px;
    }
}