.profile__redact {
    margin: 15px 0 16px 18px;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: rgba(28, 28, 28, 0);
    background-image: url('../../../images/redactor.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 653px) {

    .profile__redact {
        display: flex;
        margin: 0;
        align-self: center;
        width: 18px;
        height: 18px;
    }
}