.footer__title {
    max-width: 880px;
    margin: 67px auto 60px;
    color: #545454;
}

@media screen and (max-width: 900px) {

    .footer__title {
        margin: 48px 0 36px 19px;
        font-size: 14px;
        line-height: 17px;
    }
}