.popup__form-save-btn {
    margin: 18px 36px 37px;
    width: 358px;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 2px;
    border: none;
}

.popup__form-save-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 653px) {

    .popup__form-save-btn {
        margin: 18px 22px 25px;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}