.popup__form-input {
    margin: 0 36px;
    padding: 0;
    width: 354px;
    height: 27px;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 653px) {

    .popup__form-input {
        margin: 0 22px;
        width: 234px;
    }
}