.profile__add-button {
    margin: auto;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: #000000;
}

@media screen and (max-width: 653px) {


    .profile__add-button {
        padding: 0;
        margin-bottom: 36px;
        width: 282px;
    }
}